@import "../../styles/common/variables-and-functions";


$borderColor: #0b375b;
$heightOfBar: 27px;
$sideBarPadding: 3px;


.dragItem {
  border: 2px solid $borderColor;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-shadow: 0 0 0.8rem -0.3rem rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.9);

  %inactiveWindow {
    background-color: $backgroundDark;
  }

  %activeWindow {
    background-color: $primaryAccentColor;
  }

  > strong {
    height: $heightOfBar;
    border-bottom: 1px solid $borderColor;
    cursor: default;

    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      display: inline-block;
      color: $mainContent;
      font-weight: 300;
      font-size: 0.78rem;

      padding-left: $sideBarPadding;
    }
  }

  .inactive {
    @extend %inactiveWindow;
  }

  .active {
    @extend %activeWindow;
  }
}

.closeButton {
  width: 50px;
  height: 29px;
  z-index: 3000;

  &:hover, &:active {
    background-color: #e62223;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    right: 18px;
    width: 13px;
    height: 1px;
    background-color: white;
    transform-origin: center;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}