.host {
  position: fixed;
  display: flex;
  left: 0;
  top: 50vh;
  color: #d3dedc;
}


//
//
// VARS, MIXINS AND PLACEHOLDERS
//

$control-panel-background-color: #0f100f;

%hoverEffectBackgroundColorLighter {
  &:hover {
    background-color: lighten($control-panel-background-color, 5%);
  }
}

%darkBackgroundColor {
  background-color: $control-panel-background-color;
}

%hoverEffectControlChange {
  filter: drop-shadow(0 5px 2px rgba(113, 113, 240, 0.9));
}

%dropShadowLightColor {
  filter: drop-shadow(0 5px 3px #FFFFFF22);
}

@mixin svgSize($width: 32px) {
  height: auto;
  width: $width;
}

// Duo-tone color states
//
.controlsList {
  .disabledControl {
    --fa-primary-color: #b0b0b0;
    --fa-secondary-color: gray;
  }

  .enabledControl {
    --fa-primary-color: #f9245d;
    --fa-secondary-color: #51d5e6c4;
  }
}

%animateOnTurnOn {
  animation: animate-on-turn-on 0.8s linear 0s forwards;
}

//
//
// STYLING
//

.controlsList {
  @extend %darkBackgroundColor;
  padding: 3px;
  z-index: 1;
  transition: transform 0.2s cubic-bezier(0.37, 0.98, 0.63, 0.88);

  .enabledControl {
    svg {
      @extend %dropShadowLightColor;
      @extend %animateOnTurnOn;
    }
  }


  .listItem {
    @extend %hoverEffectBackgroundColorLighter;

    > button {
      width: 100%;
      padding: 15px 5px;


      display: flex;
      justify-content: flex-end;
      align-items: center;

      > svg {
        @include svgSize(62px);
        padding: 0 3px;
      }
    }

    span {
      font-size: 0.8rem;
      letter-spacing: -0.2px;
      font-weight: bold;
      padding: 0 0.5rem;
      color: #d5d5d5;
    }

    &:hover {
      span {
        filter: drop-shadow(0 0 3px black);
      }

      svg {
        $animation-time: 0.15s;

        > g > path {
          &:first-child {
            animation: animate-on-hover $animation-time cubic-bezier(1, 0, 0, 1) 0s both;
          }

          &:last-of-type {
            animation: animate-on-hover $animation-time cubic-bezier(1, 0, 0, 1) 0.1s both;
          }
        }
      }
    }
  }
}

.expandedControlsList {
  transform: translateX(0px);
}

.collapsedControlsList {
  transform: translateX(-132px);
}

.buttonCollapseHandler {
  z-index: 2;
  @extend %hoverEffectBackgroundColorLighter;
  @extend %darkBackgroundColor;
  padding: 0 3px;

  > section {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }

  svg {
    @include svgSize(12px)
  }

  .turned180Deg {
    transform: rotate(180deg);
  }
}


//
//
// KEYFRAMES
//


$svg-animation-scale: 1.04;

@keyframes animate-on-hover {
  0%, 80%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale($svg-animation-scale);
  }
}


@keyframes animate-on-turn-on {
  0% {
    filter: brightness(7) drop-shadow(0 5px 2px rgba(113, 113, 240, 0.7)) sepia(1);
  }

  50% {
    filter: brightness(6) drop-shadow(0 5px 2px rgba(113, 113, 240, 0.3));
  }

  100% {
    filter: brightness(1) drop-shadow(0 5px 2px rgba(113, 113, 240, 0.5));
  }
}

