@import "../../../../../styles/common/variables-and-functions";


.host {
  display: flex;

  height: 70px;
  width: 100%;
  max-width: 600px;

  position: relative;


  .loadingPlaceholder {
    @keyframes placeHolderShimmer {
      0%, 100% {
        background-position: -468px 0;
      }
      50% {
        background-position: 468px 0;
      }
    }

    border-radius: 4px;
    width: 100%;
    height: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeHolderShimmer;
    background: linear-gradient(to right, $mainBackground 8%, $primaryAccentColor 18%, $mainBackground 33%);
    position: relative;
  }

  .mainFireButton {
    color: $mainBackground;

    max-width: 70px;
    height: 100%;

    font-weight: bolder;
    font-size: 0.77rem;
    text-transform: unset;

    border-style: solid;
    border-width: 1px;
    border-radius: 0;

    border-color: rgb(255, 255, 255, 0.17) !important;
    flex: 10 1;

    strong {
      font-size: 1rem;
    }

    &:hover {
      @extend %animateReadyState;
      border-width: 2px;
    }
  }


  .complexityForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    width: 100%;

    flex: 25;

    input {
      width: 45px;
    }
  }

  // Button animations for a few cases:
  //

  .buttonAnimationSoft {

    $vibration-range: 0.8px;

    @keyframes vibrate1 {
      0% {
        -webkit-transform: translate(0);
        transform: translate(0);
      }

      20% {
        -webkit-transform: translate(-$vibration-range, $vibration-range);
        transform: translate(-$vibration-range, $vibration-range);
      }

      40% {
        -webkit-transform: translate(-$vibration-range, -$vibration-range);
        transform: translate(-$vibration-range, -$vibration-range);
      }

      60% {
        -webkit-transform: translate($vibration-range, $vibration-range);
        transform: translate($vibration-range, $vibration-range);
      }

      80% {
        -webkit-transform: translate($vibration-range, -$vibration-range);
        transform: translate($vibration-range, -$vibration-range);
      }

      100% {
        -webkit-transform: translate(0);
        transform: translate(0);
      }
    }

    animation: vibrate1 0.3s linear infinite both;
  }


  .buttonAnimationMedium {

    $vibration-range: 1px;

    @keyframes vibrate2 {
      0% {
        -webkit-transform: translate(0);
        transform: translate(0);
      }

      20% {
        -webkit-transform: translate(-$vibration-range, $vibration-range);
        transform: translate(-$vibration-range, $vibration-range);
      }

      40% {
        -webkit-transform: translate(-$vibration-range, -$vibration-range);
        transform: translate(-$vibration-range, -$vibration-range);
      }

      60% {
        -webkit-transform: translate($vibration-range, $vibration-range);
        transform: translate($vibration-range, $vibration-range);
      }

      80% {
        -webkit-transform: translate($vibration-range, -$vibration-range);
        transform: translate($vibration-range, -$vibration-range);
      }

      100% {
        -webkit-transform: translate(0);
        transform: translate(0);
      }
    }

    animation: vibrate2 0.26s linear infinite both;

  }

  .buttonAnimationHard {
    @include hoverEffectControlChange();

    $vibration-range: 1.2px;

    @keyframes vibrate3 {
      0% {
        -webkit-transform: translate(0);
        transform: translate(0);
      }

      20% {
        -webkit-transform: translate(-$vibration-range, $vibration-range);
        transform: translate(-$vibration-range, $vibration-range);
      }

      40% {
        -webkit-transform: translate(-$vibration-range, -$vibration-range);
        transform: translate(-$vibration-range, -$vibration-range);
      }

      60% {
        -webkit-transform: translate($vibration-range, $vibration-range);
        transform: translate($vibration-range, $vibration-range);
      }

      80% {
        -webkit-transform: translate($vibration-range, -$vibration-range);
        transform: translate($vibration-range, -$vibration-range);
      }

      100% {
        -webkit-transform: translate(0);
        transform: translate(0);
      }
    }

    animation: vibrate3 0.2s linear infinite both;

  }


  .buttonAnimationExtreme {
    @include hoverEffectControlChange();

    $vibration-range: 2px;

    @keyframes vibrate4 {
      0% {
        -webkit-transform: translate(0);
        transform: translate(0);
      }

      20% {
        -webkit-transform: translate(-$vibration-range, $vibration-range);
        transform: translate(-$vibration-range, $vibration-range);
      }

      40% {
        -webkit-transform: translate(-$vibration-range, -$vibration-range);
        transform: translate(-$vibration-range, -$vibration-range);
      }

      60% {
        -webkit-transform: translate($vibration-range, $vibration-range);
        transform: translate($vibration-range, $vibration-range);
      }

      80% {
        -webkit-transform: translate($vibration-range, -$vibration-range);
        transform: translate($vibration-range, -$vibration-range);
      }

      100% {
        -webkit-transform: translate(0);
        transform: translate(0);
      }
    }

    animation: vibrate4 0.1s linear infinite both;
  }


  .asideText {
    position: absolute;
    bottom: 0;
    right: 0;
  }

}