@import '../../../../global-styles/variables-and-mixins';


$translateXAmount: 300px;


.host {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  transform: translateX(calc(#{- $translateXAmount} / 2));
}


.animateIcons {
  @keyframes loopedMove {
    0%,
    100% {
      transform: translateX(0);
      transform-origin: 50% 50%;
    }

    50% {
      transform: translateX($translateXAmount);
    }
  }

  display: inline-block;
  animation: loopedMove 3s linear infinite both;


  > svg {
    @include svgSize(24px);
  }
}