.host {
  display: flex;
  flex-direction: column;

  height: 62px;
  margin-bottom: 10px;
}

.mainFireButton {
  color: #08024b;
}

.complexityForm {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 6px;

  .inputLabel {
    color: gray;
    pointer-events: none;
  }

  input {
    width: 52px;
  }
}
