@use '../global-styles/variables';

//
//
// RESET ZONE
//
//
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  min-height: 100vh;
  height: 100%;
}

body {
  border: variables.$masterBorderStyle;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  background: none;
  border: none;
  color: inherit;
}

#__next {
  height: 100%;
}

//
//
// GLOBAL CLASSES ZONE
//
//
.display-none {
  display: none !important;
}


.turn-on-opacity-animation {
  @keyframes turn-on-animation-keyframe {
    0% {
      opacity: 0
    }

    50% {
      opacity: 0.4
    }

    50% {
      opacity: 1
    }
  }
  animation: turn-on-animation-keyframe 0.5s cubic-bezier(1, 0, 0, 1) forwards;
}

// Second layer of duo-tone FA icons opacity (increased)
.svg-inline--fa .fa-secondary {
  opacity: 0.7;
}


.kek {
  @keyframes kekk {
    0%, 100% {
      transform: rotate(0)
    }

    50% {
      transform: rotate(360deg)
    }

  }

  display: inline-block;
  transform-origin: center;
  transition: transform 0.2s ease;
  animation: kekk 0.9s cubic-bezier(1, 0, 0, 1) infinite both;
}


.geg {
  @keyframes gegg {
    0%, 100% {
      transform: scale(1)
    }

    50% {
      transform: scale(2)
    }

  }

  display: inline-block;
  transform-origin: left;
  transition: transform 0.5s ease-out;
  animation: gegg 0.5s cubic-bezier(1, 0, 0, 1) infinite both;
}