@use 'variables';

//
//
// RESET ZONE
//
//
html {
  height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100%;


  background-color: #f3f3f3;


}

body {
  border: variables.$masterBorderStylePrimary;
  border-width: 0 2px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  background: none;
  border: none;
  color: inherit;

  &.no-transition {
    transition-duration: 0ms;
  }
}

#__next {
  height: 100%;
}

//
//
// GLOBAL CLASSES ZONE
//
//
.display-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

// Add class 'enabled-border-state' to component with border to make it color-controlled
body {
  &.enabled-state {
    border-color: variables.$secondaryAccentColor;
  }

  &.enabled-state .enabled-border-state {
    border-color: variables.$secondaryAccentColor;
  }
}


// Second layer of duo-tone FA icons opacity (increased)
.svg-inline--fa .fa-secondary {
  opacity: 0.8;
}




