$primaryAccentColor: #027bde;
$secondaryAccentColor: #2eb202;

$masterBorderStylePrimary: 1px solid $primaryAccentColor;

$mainBackground: #080808;
$mainContent: #f5f5f5;
$backgroundDark: rgba(16, 16, 20, 0.98);


@mixin svgSize($width: 32px) {
  height: auto;
  width: $width !important;
}