$primaryAccentColor: #027bde;
$secondaryAccentColor: #2eb202;

$masterBorderStylePrimary: 1px solid $primaryAccentColor;


$primaryMaterialUI: rgba(48, 54, 48, 0.97);


@mixin svgSize($width: 32px) {
  height: auto;
  width: $width !important;
}