.host {
  margin-bottom: 3rem;

  > section {
    flex: 1;
  }

  .workersContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    grid-gap: 53px 90px;
  }
}