@import "../../../global-styles/variables";


$borderColor: #0b375b;
$heightOfBar: 30px;
$sideBarPadding: 3px;

.dragItem {
  border: 2px solid $borderColor;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: fit-content;

  %inactiveWindow {
    background-color: black;
  }

  %activeWindow {
    background-color: #0264b2;
  }

  > strong {
    height: $heightOfBar;
    border-bottom: 1px solid $borderColor;
    cursor: default;

    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      display: inline-block;
      color: white;
      font-weight: 300;

      padding-left: $sideBarPadding;
    }
  }

  .inactive {
    @extend %inactiveWindow;
  }

  .active {
    @extend %activeWindow;
  }
}

.closeButton {
  position: relative;
  width: 50px;
  height: 29px;
  z-index: 1001;

  &:hover, &:active {
    background-color: #e62223;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    top: 15px;
    right: 18px;
    width: 13px;
    height: 1px;
    background-color: white;
    transform-origin: center;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}