@import '../../../../global-styles/variables-and-functions';


// VARS
//
$control-panel-height: 280px;

$side-button-width: 26px;

$control-switch-label-min-width: 192px;


// Duo-tone color states
//
%colorVariablesAttributesDisabled {
  --fa-primary-color: #dfdfdf;
  --fa-secondary-color: #6c7793;
}

%colorVariablesAttributesEnabled {
  --fa-primary-color: #f8f8f8;
  --fa-secondary-color: #059fffe6;
}


// STYLING
//
.host {
  z-index: 1900;
  position: relative;
  left: 0;

  .innerHost {
    position: fixed;
    width: fit-content;
    pointer-events: none;
    left: 0;
  }

  .hostSection {
    display: flex;
    color: #d3dedc;
    height: $control-panel-height;
    width: fit-content;
    pointer-events: none;
  }

  .collapseHandler {
    background-color: black;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 4px;
    width: $side-button-width;

    transform: translateX(2px);

    position: relative;
    z-index: 2002;

    border: $masterBorderStylePrimary;
    border-width: 0 2px 0 1px;
    border-radius: 0 5px 5px 0;

    pointer-events: all;

    &:hover {
      @extend %accentBackgroundColor;

      svg {
        color: $mainContent;
      }
    }

    > section {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
    }

    svg {
      @include svgSize(12px)
    }

    .turned180Deg {
      transform: rotate(180deg);
    }
  }


  .placementControlsContainer {
    @extend %darkBackgroundColorTransparently;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    > .moveHandler,
    > .changePositionHandler {
      @extend %colorVariablesAttributesEnabled;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;

      position: relative;
      z-index: 2001;

      &:hover {
        @extend %accentBackgroundColor;
      }

      svg {
        transition: transform 0.03s ease-out;
      }
    }

    > .moveHandler {
      flex: 2;
    }

    > .changePositionHandler {
      flex: 1;
    }
  }


  .moveHandlerIsEnabled {
    @extend %accentBackgroundColor;

    svg {
      transform: scale(0.85);
    }
  }


  .controlsListContainer {
    @extend %darkBackgroundColorTransparently;

    display: flex;

    transition: transform 0.5s cubic-bezier(0.37, 0.98, 0.63, 0.88), opacity 0.5s cubic-bezier(0.37, 0.98, 0.63, 0.88);

    position: relative;
    z-index: 2000;

    border: $masterBorderStylePrimary;
    border-width: 2px 2px 2px 0;
    border-radius: 0 5px 5px 0;

    pointer-events: all;

    .disabledControl {
      @extend %colorVariablesAttributesDisabled;
    }

    .enabledControl {
      @extend %colorVariablesAttributesEnabled;

      button > span {
        opacity: 0.9;
      }

      svg {
        @extend %dropShadowLightColor;
        @extend %animateOnTurnOn;
      }
    }

    .controlsList {
      display: flex;
      flex-direction: column;
      border: $masterBorderStylePrimary;
      border-width: 0 0 0 1px;
    }

    .listItem {
      margin: 5px 0;
      display: flex;
      flex: 1;

      > button {
        width: 100%;
        padding: 15px 7px;


        display: flex;
        justify-content: flex-end;
        align-items: center;

        > svg {
          @include svgSize(48px);
          padding: 0 3px;
        }
      }

      span {
        letter-spacing: 1px;
        font-weight: 800;
        font-size: 0.9rem;

        color: $mainContent;
        opacity: 0.7;

        min-width: $control-switch-label-min-width;
        width: 100%;

        padding: 0 1rem;

        &::selection {
          background: transparent;
        }
      }

      &:hover {
        @extend %animateReadyState;

        span {
          opacity: 1;
          filter: drop-shadow(0 0 3px black);
        }

        @include svgShortAnimation();
      }
    }
  }

  .expandedControlsList {
    transform: translateX(0);
    opacity: 1;
  }

  .collapsedControlsList {
    transform: translateX(calc(0px - #{$control-switch-label-min-width} - 42px));
    opacity: 0.9;
  }
}

// Flipped version of Control Panel
//
.hostFlipped {
  position: fixed;
  bottom: $control-panel-height;


  > .innerHost {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 35px) rotate(-90deg) !important;

    > .hostSection {
      transform: translateX(-40px);
    }
  }

  .collapsedControlsList {
    transform: translateX(-46px);
  }

  .listItem {
    transform: rotate(90deg);

    span {
      display: none;
    }
  }

  .placementControlsContainer {
    svg {
      transform: rotate(90deg);
    }
  }
}