html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.display-none {
  display: none !important;
}

.display-inline-block {
  display: inline-block;
}

.drag-item {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: fit-content;

  > strong {
    cursor: pointer;

    > span {
      @extend .display-inline-block

    }
  }
}
